$primary:       #181818;
$secondary:     #202020;
$third:         #1C1C1C;
$white:         #fff;
$black:         #000; 
$grey-text:     #D2D2D2;
$color_accent1: red;
$color_accent2: blue;

$z-index-sidebar: 1000;
$z-index-header:  1000;
$z-index-modal:   1010;

$sidebar-width: 300px;

$tablet-bp: 991px;
$mobile-bp: 575px;