.related {
    padding-bottom: .5rem;
    
    border-bottom: 2px solid $primary;
    
}
.related__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-item {
        margin-bottom: 2.5rem;
        width: 48%;

        @include breakpoint($mobile-bp) {
            width: 100%;
        }
    }
    &-title{
        font-size: 1.4rem;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        a {
            color: $color_accent1;
        }
    }
    &-date {
        font-size: 1.2rem;
        color: rgba($color: $white, $alpha: 0.6);
    }

    @include breakpoint($mobile-bp) {
        flex-direction: column;
    }
}
