<div class="modal" id="contact-modal">
    <div class="modal__content">
        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="Закрыть">
        </button>

        <form action="/" class="form" method="post">
            <div class="form__group form__group--medium__margin">
                <input type="text" class="form__control" placeholder="Ваше имя" value="Ковальчук Глеб">
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--medium__margin">
                <input type="email" class="form__control" placeholder="Ваш e-mail">
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--medium__margin">
                <textarea class="form__control form__control--textarea" placeholder="Текст сообщения"></textarea>
                <span class="form__line"></span>
            </div>
            <div class="form__footer">
                <button class="btn btn-blue btn--rounded btn--sm" type="submit">Отправить</button>
            </div>
        </form>

        <ul class="modal__footer">
            <li>e-mail: <a href="mailto:gk.work@yandex.ru">gk.work@yandex.ru</a></li>
            <li>|</li>
            <li>тел: <a href="tel:+79858397393">+7(985)839-73-93</a></li>
        </ul>
    </div>
</div>