<aside class="sidebar" id="sidebar">
    <div class="sidebar_header">
        <img src="assets/images/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar_content">
        <div class="profile">
            <img  class="profile_avatar" src="https://via.placeholder.com/100" alt="">
            <div class="profile__header">
                <div class="profile_name">Ковальчук Глеб</div>
                <div class="profile_prof">Front-end разработчик</div>
            </div>    
          
            <ul class="social">
                <li class="social_item">
                    <a href="#" class="social_link" target="_blank">
                        <img src="assets/images/instagram.svg" alt="kovalchuk_instagram" class="social_pic">
                    </a>
                    <a href="#" class="social_link" target="_blank">
                        <img src="assets/images/pinterest.svg" alt="kovalchuk_pinterest" class="social_pic">
                    </a>
                    <a href="#" class="social_link" target="_blank">
                        <img src="assets/images/vk.svg" alt="kovalchuk_vk" class="social_pic">
                    </a>
                </li>
            </ul>

            <div class="profile_text">
                <p>Бывший инженер и учитель. 4 года занимался экологическим проектированием для крупных и не очень заказчиков. <br/><br/> С 2020 преподаю программирование, в том числе HTML, CSS, JavaScript, Python. <br/><br/> Часто работаю с Photoshop, Figma, CorelDraw, AutoCAD. <br/> В преподавании также использовал UnrealEngine 4, Unity, язык Lua.</p>
            </div>
        </div>  <!-- /.profile -->
        <nav class="nav nav--mobile"> <!-- .nav-mobile -->
            <ul class="nav_list">
                <li class="nav_item">
                    <a class="nav_link" href="index.html">Главная</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link has-subnav" href="#">Статьи</a>
                    <ul class="subnav">
                        <li><a class="subnav_link first" href="#">Создание сайтов</a></li>
                        <li><a class="subnav_link" href="#">Интернет-маркетинг</a></li>
                        <li><a class="subnav_link last" href="#">Продвижение видео</a></li>
                    </ul>
                </li>
                <li class="nav_item">
                    <a class="nav_link" href="text.html">Обо мне</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link" href="text.html">Реклама</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link" href="profile.html">Профиль</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link" href="authorization.html">Выйти</a>
                </li>
            </ul>
        </nav>  <!-- /.nav-mobile -->
    </div> <!-- /.sidebar_content -->
    <div class="sidebar_footer">
        <a href="works.html" class="btn btn-red">Мои работы</a>
        <button type="button" class="btn btn-blue" data-modal="contact-modal">Написать мне</button>
    </div>
</aside>